@model company.BL.Model.EmployeeVM
@inject company.BL.Interface.IReligionRep religinRep
@inject company.BL.Interface.IGenderRep genderRep

@{
    ViewBag.Title = "Details Employee";
    // var x = emplo.GetAll();
}
<div class="card">
    <div class="card-body">
        @*         <h5 class="card-title">Floating labels Form</h5>
        *@
        <br />


            <div class="row  ">
                <div class="col-lg-6">

                    <div class="row g-3">

                        <div class="col-md-12">
                            <div class="form-floating">
                                <input type="text" class="form-control  readOnly" asp-for="employeeName" id="employeeName" placeholder="Employee Name">
                                <label for="employeeName">Employee Name </label>
                            </div>
                            <span asp-validation-for="employeeName" class="text-danger "></span>

                        </div>


                        <div class="col-md-12">
                            <div class="form-floating">
                                <input type="text" class="form-control  readOnly" asp-for="phone1" id="phone1" placeholder="phone1 ">
                                <label for="phone1">phone1  </label>
                            </div>
                            <span asp-validation-for="phone1" class="text-danger "></span>

                        </div>

                        <div class="col-md-12">
                            <div class="form-floating">
                                <input type="text" class="form-control readOnly" asp-for="phone2" id="phone2" placeholder="phone2 ">
                                <label for="phone2">phone2  </label>
                            </div>
                            <span asp-validation-for="phone2" class="text-danger "></span>

                        </div>

                        <div class="col-md-12">
                            <div class="form-floating">
                                <input type="text" class="form-control readOnly" asp-for="address" id="address" placeholder="address ">
                                <label for="address">address  </label>
                            </div>
                            <span asp-validation-for="address" class="text-danger "></span>

                        </div>


                        <div class="col-md-12">
                            <div class="form-floating ">
                                <select asp-for="deprtmentId" class="form-select readOnly" id="deprtmentId" aria-label="Deprtment">
                                    <option value="">-- Please select department  --</option>

                                </select>
                                <label for="deprtmentId">Deprtment</label>
                            </div>
                            <span asp-validation-for="deprtmentId" class="text-danger "></span>

                        </div>
                        <div class="col-md-12  mb-3">
                            <div class="form-control readOnly">


                                <div class="row   ">
                                    <label class="">religion</label>

                                    @{
                                        foreach (var item in religinRep.GetAll())
                                        {
                                            <div class="col-4">
                                                <input type="radio" value="@item.id" asp-for="religionId" id="religionId+@item.id" class=" form-check-input readOnly ">
                                                <label for="religionId+@item.id" class="form-check-label">@item.religionName</label>
                                            </div>

                                        }
                                    }

                                </div>
                                <span asp-validation-for="religionId" class="text-danger "></span>

                            </div>

                        </div>


                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="row g-3">




                        <div class="col-md-12">
                            <div class="form-floating">
                                <input type="text" class="form-control readOnly" asp-for="nationalId" id="employeeName" placeholder="nationalId">
                                <label for="nationalId">nationalId </label>
                            </div>
                            <span asp-validation-for="nationalId" class="text-danger "></span>
                        </div>


                        <div class="col-md-12">
                            <div class="form-floating">
                                <input type="date" class="form-control readOnly" asp-for="birthdate" id="birthdate" placeholder="birthdate">
                                <label for="birthdate">birthdate </label>
                            </div>
                            <span asp-validation-for="birthdate" class="text-danger "></span>
                        </div>


                        <div class="col-md-12">
                            <div class="form-floating">
                                <input type="date" class="form-control readOnly" asp-for="startDate" id="startDate" placeholder="Start Date">
                                <label for="startDate">Start Date </label>
                            </div>
                            <span asp-validation-for="startDate" class="text-danger "></span>
                        </div>


                        <div class="col-md-12">
                            <div class="form-floating">
                                <input type="date" class="form-control readOnly" asp-for="endDate" id="endDate" placeholder="End Date">
                                <label for="startDate">End Date</label>
                            </div>
                            <span asp-validation-for="endDate" class="text-danger "></span>
                        </div>


                        <div class="col-md-12  ">
                            <div class="form-control readOnly">
                                <div class="row   ">
                                    <label class="">religion</label>
                                    @{
                                        foreach (var item in genderRep.GetAll())
                                        {
                                            <div class="col-4">
                                                <input type="radio" value="@item.id" asp-for="genderId" id="genderId+@item.id" class=" form-check-input readOnly ">
                                                <label for="genderId+@item.id" class="form-check-label">@item.genderName</label>
                                            </div>
                                        }
                                    }
                                </div>
                                <span asp-validation-for="genderId" class="text-danger "></span>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-floating ">
                                <select asp-for="jobId" class="form-select readOnly" id="jobId" aria-label="Job">
                                    <option value="">-- Please select department  --</option>

                                </select>
                                <label for="deprtmentId">Job</label>
                            </div>
                            <span asp-validation-for="jobId" class="text-danger "></span>

                        </div>
                        <div class="form-group" form-float">
                            <div class="form-line">

                                <input checked="checked"
                                       id="isAvtive"
                                       name="isAvtive"
                                       type="checkbox"
                                       value="true" class="form-check-input readOnly" />
                                <label for="isAvtive">Employee is  active ?</label>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <a asp-controller="Employees" asp-action="index" class="btn btn-success">Back</a>


    </div>
</div>
@section MicrosoftValidation{

    <script>

        $(function () {

            $("#deprtmentId").empty();
            $("#deprtmentId").append("<option value='0'>Choose Department</option>");
            $.ajax({
                type: "GET",
                url: "/Department/getAllDepartment",
                data: {},
                success: function (res) {
                    console.log(res);
                    $.each(res, function (i, e) {
                        $("#deprtmentId").append("<option value='" + e.id + "'>" + e.name + "</option>");
                    });
                    $("#deprtmentId").val(@Model.deprtmentId);

                }
            });


            $("#jobId").empty();
            $("#jobId").append("<option value='0'>Choose Job</option>");
            $.ajax({
                type: "GET",
                url: "/Job/getAllJobs",
                data: {},
                success: function (res) {
                    console.log(res);
                    $.each(res, function (i, e) {
                        $("#jobId").append("<option value='" + e.id + "'>" + e.jobName + "</option>");
                    });
                    $("#jobId").val(@Model.jobId);

                }
            });
        });
    </script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}

@section PageTitle {
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="home" asp-action="index">Home</a></li>
        <li class="breadcrumb-item"> <a asp-controller="Employees" asp-action="index">Employees </a></li>
        <li class="breadcrumb-item"> <a> Employee Details </a></li>

    </ol>
}
