@using company.DAL.Extend;
@inject UserManager<ApplicationUser> applicationUser;
@inject RoleManager<ApplictionRoles> roleManager;
@inject company.BL.Interface.IMenuRep menu;
@{
    ApplicationUser application = await applicationUser.FindByNameAsync(User.Identity.Name);
    var PhotoName = application.PhotoName;
    IList<string> roles = await applicationUser.GetRolesAsync(application);
    List<string> rolesid = roleManager.Roles.Where(o => roles.Contains(o.Name)).Select(o => o.Id).ToList();
    var menuData = menu.GetMenu(rolesid).ToList();
}

<aside id="sidebar" class="sidebar">


@*     @foreach(var item in menuData)
    {
        if(item.Page.ParentiD==null)
        {
            <h1>@item.Page.PageName</h1>
            foreach (var subMenu in menuData)
            {
                if(subMenu.Page.ParentiD==item.Page.Id)
                {
                    <h4 style="font-size:10px;">@subMenu.Page.PageName </h4>
                }
            }
        }
    } *@


    <ul class="sidebar-nav" id="sidebar-nav">

   @foreach(var item in menuData)
    {
            if (item.parentId == null && item.pageControl == null)
        {
             <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#menu-@item.pageid" data-bs-toggle="collapse" href="#">
                        <i class="bi bi-menu-button-wide"></i><span>@item.pageNAme</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
                    <ul id="menu-@item.pageid" class="nav-content collapse " data-bs-parent="#sidebar-nav">


          @foreach (var subMenu in menuData)
            {
                if(subMenu.parentId==item.pageid)
                {
                                <li>
                                    <a asp-controller="@subMenu.pageControl" asp-action="@subMenu.pageAction">
                                        <i class="bi bi-circle"></i><span>@subMenu.pageNAme</span>
                                    </a>
                                </li>
                }
            }


                    </ul>
                </li>

            }
            else if(item.parentId==null&& item.pageControl != null)
            {
                <li class="nav-item">
                    <a class="nav-link " asp-controller="@item.pageControl" asp-action="@item.pageAction">
                        <i class="bi bi-grid"></i>
                        <span>DashBoard</span>
                    </a>
                </li>

                <!-- End Dashboard Nav -->
            }
        }


@*         <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#EmployeesBonus" data-bs-toggle="collapse" href="#">
                <i class="bi bi-menu-button-wide"></i><span>Employees Bonus/Deduction</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="EmployeesBonus" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                    <a asp-controller="EmployeeBonus" asp-action="index">
                        <i class="bi bi-circle"></i><span>Bonus/Deduction</span>
                    </a>
                </li>

            </ul>
        </li>

        <li class="nav-item">
            <a class="nav-link " asp-controller="home" asp-action="index">
                <i class="bi bi-grid"></i>
                <span>DashBoard</span>
            </a>
        </li><!-- End Dashboard Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#MainData" data-bs-toggle="collapse" href="#">
                <i class="bi bi-menu-button-wide"></i><span>Main Data</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="MainData" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                    <a asp-controller="Employees" asp-action="index">
                        <i class="bi bi-circle"></i><span>Employees</span>
                    </a>
                </li>
                <li>
                    <a asp-controller="department" asp-action="index">
                        <i class="bi bi-circle"></i><span>Departments</span>
                    </a>
                </li>

                <li>
                    <a asp-controller="Job" asp-action="index">
                        <i class="bi bi-circle"></i><span>Jobs</span>
                    </a>
                </li>
                <li>
                    <a asp-controller="Bonuss" asp-action="index">
                        <i class="bi bi-circle"></i><span>Bonus</span>
                    </a>
                </li>
                <li>
                    <a asp-controller="Vacation" asp-action="index">
                        <i class="bi bi-circle"></i><span>Vacations</span>
                    </a>
                </li>
            </ul>
        </li><!-- End Components Nav -->


        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#EmployeesBonus" data-bs-toggle="collapse" href="#">
                <i class="bi bi-menu-button-wide"></i><span>Employees Bonus/Deduction</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="EmployeesBonus" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                    <a asp-controller="EmployeeBonus" asp-action="index">
                        <i class="bi bi-circle"></i><span>Bonus/Deduction</span>
                    </a>
                </li>

            </ul>
        </li><!-- End Components Nav -->


        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#EmployeesVacations" data-bs-toggle="collapse" href="#">
                <i class="bi bi-menu-button-wide"></i><span>Employees Vacations</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="EmployeesVacations" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                    <a asp-controller="EmployeesVacation" asp-action="index">
                        <i class="bi bi-circle"></i><span>Vacation</span>
                    </a>
                </li>

            </ul>
        </li><!-- End Components Nav -->


        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#Security" data-bs-toggle="collapse" href="#">
                <i class="bi bi-menu-button-wide"></i><span>Security</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="Security" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                    <a asp-controller="Users" asp-action="index">
                        <i class="bi bi-circle"></i><span>Users</span>
                    </a>
                </li>
                <li>
                    <a asp-controller="Roles" asp-action="index">
                        <i class="bi bi-circle"></i><span>Roles</span>
                    </a>
                </li>
                <li>
                    <a asp-controller="AddRemoveRoles" asp-action="index">
                        <i class="bi bi-circle"></i><span>Users Roles</span>
                    </a>
                </li>

            </ul>
        </li><!-- End Components Nav --> *@




    </ul>

</aside>